<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">

    <!-- Title -->
    <mat-form-field>
      <input matInput type="text" name="title" ngModel required #title="ngModel" placeholder="Post title">
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>

    <!-- Content -->
    <mat-form-field>
      <textarea matInput rows="4" name="content" ngModel required #content="ngModel" placeholder="Post content"></textarea>
      <mat-error *ngIf="content.invalid">Please enter some content.</mat-error>
    </mat-form-field>

    <!-- Submit -->
    <button type="submit" mat-raised-button color="primary">Save Post</button>

  </form>
</mat-card>
